body {
    background-color: #9a9a9e;
}

#username {
    align-content: center;
    color: crimson;
    font-size: 60px;
    align-items: center;
}

#demo {
    font-size: 42px;
    color: red;
}

#backgrnd {
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border: red 0px;
    margin: 0%;
}