{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="col-10 alert alert-dark alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

{% if name %}
<!-- <h1>Hello {{ name | title }}</h1> -->
<!-- <br> -->
<div class="col-12">
    <img id='backgrnd' class="img-flud col-12 border-0" src="{{ url_for( 'static', filename='images/NorthPeak.jpg') }}"
        alt="The image">
</div>
<!-- <br> -->
<!-- <br> -->
<!-- <div> -->
    <!-- <p id="demo"> this is stuff....</p> -->
    <!-- <script src="{{ url_for( 'static' , filename='js/MyFile.js') }}"></script> -->
<!-- </div> -->

{% else%}
<h1>What is your name?</h1>
<br>
<form method="POST">
    <div class="col-12">
        {{ form.hidden_tag() }}
        <div class="col-12">
            {{ form.name.label(class="form-label") }}
            <div class="col-3">
                {{ form.name(class="form-control") }}
            </div>
        </div>
        <br>
        {{ form.submit(class="btn btn-dark btn-primary")}}
    </div>
</form>
{% endif %}

{% endblock content %}